{% extends 'base.html' %}

{% block title %}Manage Teams{% endblock %}

{% block content %}
<h1>Manage Teams</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.team_1.label(class="form-label") }}<br>
        {{ form.team_1(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_2.label(class="form-label") }}<br>
        {{ form.team_2(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_3.label(class="form-label") }}<br>
        {{ form.team_3(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_4.label(class="form-label") }}<br>
        {{ form.team_4(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_5.label(class="form-label") }}<br>
        {{ form.team_5(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_6.label(class="form-label") }}<br>
        {{ form.team_6(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_7.label(class="form-label") }}<br>
        {{ form.team_7(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_8.label(class="form-label") }}<br>
        {{ form.team_8(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_9.label(class="form-label") }}<br>
        {{ form.team_9(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_10.label(class="form-label") }}<br>
        {{ form.team_10(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_11.label(class="form-label") }}<br>
        {{ form.team_11(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_12.label(class="form-label") }}<br>
        {{ form.team_12(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_13.label(class="form-label") }}<br>
        {{ form.team_13(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_14.label(class="form-label") }}<br>
        {{ form.team_14(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_15.label(class="form-label") }}<br>
        {{ form.team_15(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_16.label(class="form-label") }}<br>
        {{ form.team_16(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_17.label(class="form-label") }}<br>
        {{ form.team_17(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_18.label(class="form-label") }}<br>
        {{ form.team_18(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_19.label(class="form-label") }}<br>
        {{ form.team_19(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_20.label(class="form-label") }}<br>
        {{ form.team_20(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_21.label(class="form-label") }}<br>
        {{ form.team_21(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_22.label(class="form-label") }}<br>
        {{ form.team_22(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_23.label(class="form-label") }}<br>
        {{ form.team_23(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_24.label(class="form-label") }}<br>
        {{ form.team_24(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_25.label(class="form-label") }}<br>
        {{ form.team_25(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_26.label(class="form-label") }}<br>
        {{ form.team_26(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_27.label(class="form-label") }}<br>
        {{ form.team_27(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_28.label(class="form-label") }}<br>
        {{ form.team_28(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_29.label(class="form-label") }}<br>
        {{ form.team_29(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_30.label(class="form-label") }}<br>
        {{ form.team_30(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_31.label(class="form-label") }}<br>
        {{ form.team_31(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_32.label(class="form-label") }}<br>
        {{ form.team_32(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_33.label(class="form-label") }}<br>
        {{ form.team_33(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_34.label(class="form-label") }}<br>
        {{ form.team_34(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_35.label(class="form-label") }}<br>
        {{ form.team_35(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_36.label(class="form-label") }}<br>
        {{ form.team_36(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_37.label(class="form-label") }}<br>
        {{ form.team_37(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_38.label(class="form-label") }}<br>
        {{ form.team_38(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_39.label(class="form-label") }}<br>
        {{ form.team_39(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_40.label(class="form-label") }}<br>
        {{ form.team_40(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_41.label(class="form-label") }}<br>
        {{ form.team_41(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_42.label(class="form-label") }}<br>
        {{ form.team_42(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_43.label(class="form-label") }}<br>
        {{ form.team_43(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_44.label(class="form-label") }}<br>
        {{ form.team_44(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_45.label(class="form-label") }}<br>
        {{ form.team_45(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_46.label(class="form-label") }}<br>
        {{ form.team_46(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_47.label(class="form-label") }}<br>
        {{ form.team_47(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_48.label(class="form-label") }}<br>
        {{ form.team_48(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_49.label(class="form-label") }}<br>
        {{ form.team_49(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_50.label(class="form-label") }}<br>
        {{ form.team_50(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_51.label(class="form-label") }}<br>
        {{ form.team_51(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_52.label(class="form-label") }}<br>
        {{ form.team_52(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_53.label(class="form-label") }}<br>
        {{ form.team_53(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_54.label(class="form-label") }}<br>
        {{ form.team_54(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_55.label(class="form-label") }}<br>
        {{ form.team_55(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_56.label(class="form-label") }}<br>
        {{ form.team_56(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_57.label(class="form-label") }}<br>
        {{ form.team_57(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_58.label(class="form-label") }}<br>
        {{ form.team_58(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_59.label(class="form-label") }}<br>
        {{ form.team_59(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_60.label(class="form-label") }}<br>
        {{ form.team_60(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_61.label(class="form-label") }}<br>
        {{ form.team_61(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_62.label(class="form-label") }}<br>
        {{ form.team_62(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_63.label(class="form-label") }}<br>
        {{ form.team_63(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.team_64.label(class="form-label") }}<br>
        {{ form.team_64(class="form-control", size=20) }}<br>
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}