{% extends "base.html" %}
{% block content %}
<h1>Set Game Winners</h1>
<form method="POST">
    {% for game in games %}
        <div>
            <label for="game_{{ game.id }}">
                {{ game.round.name }}: 
                {{ game.team1.seed }} - {{ game.team1.name }} vs. 
                {{ game.team2.seed }} - {{ game.team2.name }}
            </label>
            <select name="game_{{ game.id }}">
                <option value="" {% if not game.winning_team_id %}selected{% endif %}>--- Select Winner ---</option>
                <option value="{{ game.team1.id }}" {% if game.winning_team_id == game.team1.id %}selected{% endif %}>{{ game.team1.name }}</option>
                <option value="{{ game.team2.id }}" {% if game.winning_team_id == game.team2.id %}selected{% endif %}>{{ game.team2.name }}</option>
            </select>
        </div>
    {% endfor %}
    <input type="submit" value="Update Winners">
</form>
{% endblock %}
