{% extends 'base.html' %}

{% block title %}Verify Users{% endblock %}

{% block content %}
    <h1>Verify Users</h1>
    <form method="get" action="{{ url_for('admin_verify_users') }}">
        <label>
            <input type="checkbox" name="show_valid_brackets" value="1" {% if request.args.get('show_valid_brackets') == '1' %}checked{% endif %}>
            Show only users with valid brackets
        </label>
        <button type="submit">Filter</button>
    </form>

    <hr>
    <form method="POST">
        {% for user in users %}
            <div>
                <input type="checkbox" name="verified_{{ user.id }}" {% if user.is_verified %} checked {% endif %}>
                <strong>{{ user.full_name }}</strong> ({{ user.email }}) 
            </div>
        {% endfor %}
        <input type="submit" value="Update Verifications" class="btn btn-primary btn-top-margin">
    </form>
{% endblock %}