<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - My Madness Bracket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='game_grid.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fa/css/fontawesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fa/css/regular.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fa/css/solid.css') }}">
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="nav-menu" id="nav-menu"> <!-- Hamburger icon for mobile -->
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul class="nav-links" id="nav-links">
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('login') }}" class="non-dropdown">Login</a></li>
                    <li><a href="{{ url_for('register') }}" class="non-dropdown">Register</a></li>
                {% else %}
                {% if not is_after_cutoff %}
                    <li><a href="{{ url_for('make_picks') }}" class="non-dropdown">Your Bracket <i class="fa-solid fa-dice"></i></a></li>
                    <li><a href="{{ url_for('user_profile', user_id=current_user.id) }}" class="non-dropdown">Profile <i class="fa-solid fa-pencil"></i></a></li>
                {% endif %}
                {% if is_after_cutoff %}
                    <li><a href="{{ url_for('view_picks', user_id=current_user.id) }}" class="non-dropdown">Brackets <i class="fa-regular fa-eye"></i></a></li>
                {% endif %}
    
                    <li><a href="{{ url_for('standings') }}" class="non-dropdown">Standings <i class="fa-solid fa-list-ol"></i></a></li>
                    <li><a href="{{ url_for('winners') }}" class="non-dropdown">Winners <i class="fa-solid fa-trophy"></i></a></li>
                    <li><a href="{{ url_for('message_board') }}" class="non-dropdown">Forum <i class="fa-regular fa-comments"></i></a></li>
                    {% if current_user.is_admin %}
                        <li class="dropdown">Admin
                            <ul class="dropdown-content">
                                <li><a href="{{ url_for('admin_users') }}">Users Status</a></li>
                                <li><a href="{{ url_for('admin_view_logs') }}">View Logs</a></li>
                                <li><a href="{{ url_for('admin_verify_users') }}">Verify Users</a></li>
                                <li><a href="{{ url_for('admin_set_winners') }}">Set Game Winners</a></li>
                                <li><a href="{{ url_for('admin_reset_password') }}">Reset Passwords</a></li>
                                <li><a href="{{ url_for('admin_manage_regions') }}">Edit Regions</a></li>
                                <li><a href="{{ url_for('admin_manage_teams') }}">Edit Teams</a></li>
                                <li><a href="{{ url_for('admin_manage_rounds') }}">Edit Round Points</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if current_user.is_super_admin %}
                        <li class="dropdown">Super Admin
                            <ul class="dropdown-content">
                                <li><a href="{{ url_for('super_admin_manage_admins') }}">Manage Admins</a></li>
                                <li><a href="{{ url_for('super_admin_reset_games') }}">Reset Games</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
                <div class="user-info">
                    {% if current_user.is_verified %}
                        <span class="verified-cursor" title="Your account is verified"><i class="fa-regular fa-circle-check"></i></span>
                    {% else %}
                        <span class="unverified-cursor" title="Your account is NOT verified"><i class="fa-solid fa-triangle-exclamation fa-flip"></i></span>
                    {% endif %}
                    {{ current_user.email }}
                    <a href="{{ url_for('logout') }}" class="non-dropdown logout-cursor" title="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
    </footer>

    <script>
        document.getElementById('nav-menu').addEventListener('click', function() {
            document.getElementById('nav-links').classList.toggle('active');
        });
    </script>
</body>
</html>
