{% extends 'base.html' %}
{% block content %}
    <h1>Verified?</h1>
    <p class="{{ 'verified-user' if user.is_verified else 'unverified-user' }}">{{ user.is_verified }}</p>
    <h1>Edit Profile</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.full_name.label }}<br>
        {{ form.full_name(size=20) }}<br>
        {{ form.time_zone.label }}<br>
        {{ form.time_zone() }}<br>
        {{ form.tiebreaker_winner.label }}<br>
        {{ form.tiebreaker_winner() }}<br>
        {{ form.tiebreaker_loser.label }}<br>
        {{ form.tiebreaker_loser() }}<br>
        {{ form.submit() }}
    </form>
{% endblock %}
