{% extends 'base.html' %}
{% block content %}
    <h1>Your Profile</h1>
    <h2>Verified?</h2>
    <p class="{{ 'verified-user' if user.is_verified else 'unverified-user' }}">{{ user.is_verified }}</p>
    <h2>Current Bracket Valid?</h2>
    <p class="{{ 'bracket-valid' if user.is_bracket_valid else 'bracket-invalid' }}">{{ user.is_bracket_valid }}</p>
    <h2>Edit Profile</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.full_name.label }}<br>
        {{ form.full_name(size=20) }}<br>
        {{ form.time_zone.label }}<br>
        {{ form.time_zone() }}<br>
        {{ form.tiebreaker_winner.label }}<br>
        {{ form.tiebreaker_winner() }}<br>
        {{ form.tiebreaker_loser.label }}<br>
        {{ form.tiebreaker_loser() }}<br>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
