{% extends 'base.html' %}
{% block content %}
    <h1>Make Your Picks</h1>

    {% if is_bracket_valid %}
        <p><span class="bracket-valid">Your most recently saved bracket is valid.</span> {% if last_save %}Last saved: {{ last_save }}.{% endif %}</p>
    {% else %}
        <p><span class="bracket-invalid">Your most recently saved bracket is not valid.</span> {% if last_save %}Last saved: {{ last_save }}.{% endif %}</p>
    {% endif %}

    <form method="post" id="picks-form">

        <div>
            <span>Autosave: </span>
            <label class="switch">
                <input type="checkbox" id="autosave-toggle" onchange="toggleAutosave(this.checked);">
                <span class="slider round"></span>
            </label>
        </div>

        <p style="display: none;" id="autosave-on-note">Autosave ON. Picks will be saved automatically. This may take a couple of seconds. Turn Autosave off to make picks faster and save them yourself.</p>

        <p id="autosave-off-note">Autosave OFF. Picks will NOT be saved automatically. <b>You must click Save Picks to save.</b> Turn Autosave on to change this.</p>

        <p>Either way, Clear All Picks and Fill In Better Seeds will automatically save after clearing/filling.</p>

        <input type="hidden" name="action" value="" id="action-input">

        <button type="button" onclick="submitForm('save_picks')" class="btn btn-primary" id="save-picks-button">Save Picks</button>
        <button type="button" onclick="submitForm('clear_picks')" class="btn btn-secondary">Clear All Picks</button>
        <button type="button" onclick="submitForm('fill_in_better_seeds')" class="btn btn-secondary">Fill In Better Seeds</button>

        <div class="bracket-grid">
            {% for game in games %}
                <div class="game-dropdown" id="game{{ game.id }}">
                    <select name="game{{ game.id }}" id="game{{ game.id }}" class="bracket-grid-select" onchange="handleSelectChange();">

                        <option value=""></option>
                        {% for team_id in potential_picks_map.get(game.id, []) %}
                            {% set team = teams_dict[team_id] %}
                            <option value="{{ team.id }}" {% if user_picks.get(game.id) == team.id %} selected {% endif %}>
                                {{ team.seed }} - {{ team.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            {% include '_shared_grid.html' %}

        </div>
    </form>

    <script>
        var autosaveEnabled = false;

        function toggleAutosave(isChecked) {
            autosaveEnabled = isChecked;
            document.getElementById('save-picks-button').style.display = autosaveEnabled ? 'none' : 'inline-block';
            document.getElementById('autosave-off-note').style.display = autosaveEnabled ? 'none' : 'block';
            document.getElementById('autosave-on-note').style.display = autosaveEnabled ? 'block' : 'none';
        }

        function handleSelectChange() {
            if (autosaveEnabled) {
                document.getElementById('action-input').value = 'save_picks';
                document.getElementById('picks-form').submit();
            }
        }

        function submitForm(actionValue) {
            document.getElementById('action-input').value = actionValue;
            document.getElementById('picks-form').submit();
        }
    </script>
{% endblock %}