{% extends 'base_login_register.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Join the Madness!</h2>
    <form method="post">
        {{ form.hidden_tag() }}
            {{ form.full_name.label }}<br>
            {{ form.full_name(size=20) }}
            {% for error in form.full_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.email.label }}<br>
            {{ form.email(size=20) }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(size=20) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.time_zone.label }}<br>
            {{ form.time_zone() }}

            {{ form.tiebreaker_winner.label }}<br>
            {{ form.tiebreaker_winner() }}

            {{ form.tiebreaker_loser.label }}<br>
            {{ form.tiebreaker_loser() }}

            {{ form.submit() }}
    </form>
{% endblock %}


