{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<h2>Set New Password</h2>
<form method="POST" action="{{ url_for('reset_password', user_id=user.id) }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.reset_code.label }} {{ form.reset_code(class='form-control-wide') }}
    </div>
    <div>
        {{ form.password.label }} {{ form.password(class='form-control') }}
    </div>
    <div>
        {{ form.confirm_password.label }} {{ form.confirm_password(class='form-control') }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary btn-top-margin") }}
    </div>
</form>
{% endblock %}
