{% extends 'base_login_register.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
    <h2>Reset Your Password</h2>
    <p style="font-size: 0.9em; color: #666; margin-bottom: 16px;">Enter your new password below.</p>
    <form method="post">
        {{ form.hidden_tag() }}
        <input type="hidden" name="token" value="{{ token }}">
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        {{ form.password_confirm.label }}<br>
        {{ form.password_confirm(size=20) }}
        {% for error in form.password_confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br><br>
        {{ form.submit() }}
    </form>
{% endblock %}
