{% extends "base.html" %}
{% block title %}Reset Password Request{% endblock %}
{% block content %}
<h2>Reset Password</h2>
<p>Please enter your email and the reset code you received.</p>
<form method="POST" action="{{ url_for('reset_password_request') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }} {{ form.email(class='form-control-wide') }}
    </div>
    <div>
        {{ form.reset_code.label }} {{ form.reset_code(class='form-control-wide') }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary btn-top-margin") }}
    </div>
</form>
{% endblock %}