{% extends "base.html" %}
{% block content %}
    <h1>Standings</h1>

    {% if not show_champion %}
        <p>Other users' brackets will be visible once the tournament starts.</p>
    {% else %}
        <form method="POST" class="standings-sort-form" id="standings-sort-form">
            {{ sort_form.hidden_tag() }}
            <div>{{ sort_form.sort_field.label }} {{ sort_form.sort_field(onchange="this.form.submit()") }}</div>
            <div>{{ sort_form.sort_order.label }} {{ sort_form.sort_order(onchange="this.form.submit()") }}</div>
            <div>{{ sort_form.champion_filter.label }} {{ sort_form.champion_filter(onchange="this.form.submit()") }}</div>
            <div>{{ sort_form.name_filter.label }} {{ sort_form.name_filter(id="nameFilterInput", oninput="this.form.submit()") }}</div>
        </form>
    {% endif %}   

    <table class="standings-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Total Score</th>
                <th>Max Possible Score</th>
                {% if show_champion %}
                    <th>Champion</th>
                {% endif %}
                <th>{{ rounds[1] }}</th>
                <th>{{ rounds[2] }}</th>
                <th>{{ rounds[3] }}</th>
                <th>{{ rounds[4] }}</th>
                <th>{{ rounds[5] }}</th>
                <th>{{ rounds[6] }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.rank }}</td>
                    <td><a href="{{ url_for('view_picks', user_id=user.id) }}">{{ user.full_name }}</a></td>
                    <td>{{ user.currentscore }}</td>
                    <td>{{ user.maxpossiblescore }}</td>
                    {% if show_champion %}
                        <td>{{ user.champion_team_name }}</td>
                    {% endif %}
                    <td>{{ user.r1score }}</td>
                    <td>{{ user.r2score }}</td>
                    <td>{{ user.r3score }}</td>
                    <td>{{ user.r4score }}</td>
                    <td>{{ user.r5score }}</td>
                    <td>{{ user.r6score }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block morejs %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        var inputField = document.getElementById("nameFilterInput");
        if (inputField) {
            inputField.focus();
            var val = inputField.value; // Store the value of the input
            inputField.value = ''; // Clear the value of the input
            inputField.value = val; // Set that value back. (cursor moves to the end)
        }
        });
    </script>
{% endblock %}