{% extends 'base.html' %}
{% block title %}View Bracket{% endblock %}
{% block content %}
    <h1>{{ user.full_name }}'s Bracket || Rank: {{ user_rank }} (Score: {{ user.currentscore }}) </h1>

    <i><a href="{{ url_for('compare_brackets', user1=current_user_id, user2=user.id) }}">Compare</a> this bracket to yours or any other!</i><br>

    <br>
    <form method="POST" style="display: flex; align-items: center; gap: 10px;">
        {{ form.hidden_tag() }}
        <div>{{ form.user.label }} {{ form.user() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
    <br>

    <div class="bracket-grid-container">
        <div class="bracket-grid">
            {% for game in games %}
    
                {% set pick_class = 'pick-unmade' %}
                {% set tooltip_text = '' %}
                {% if game.id in user_picks %}
                    {% if game.winning_team_id or user_picks[game.id].id in lost_teams %}
                        {% if user_picks[game.id].id == game.winning_team_id %}
                            {% set pick_class = 'pick-correct' %}
                        {% else %}
                            {% set pick_class = 'pick-incorrect' %}
                            {% if game.winning_team_id %}
                                {% set tooltip_text = game.winning_team.name %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% set pick_class = 'pick-undecided' %}
                    {% endif %}
                {% endif %}
                <div class="game-view-pick {{ pick_class }}" id="game{{ game.id }}" data-tooltip="{{ tooltip_text }}" onmouseover="showTooltip(event)" onmouseout="hideTooltip(event)">
                    <span id="game{{ game.id }}" class="bracket-grid-span" data-tooltip="{{ tooltip_text }}" onmouseover="showTooltip(event)" onmouseout="hideTooltip(event)">
                        {% if game.id in user_picks %}
                            {{ user_picks[game.id].name }}
                        {% else %}
                            No Pick
                        {% endif %}
                    </span>
                </div>
            {% endfor %}
    
            <div id="tooltip" class="tooltip"></div>
    
            {% include '_shared_grid.html' %}
        </div>
    </div>

    <script>
        function showTooltip(event) {
            var tooltipSpan = document.getElementById('tooltip');
            var tooltipText = event.target.getAttribute('data-tooltip');
            if (tooltipText) {
                tooltipSpan.innerHTML = tooltipText;
                tooltipSpan.style.left = event.pageX + 'px';
                tooltipSpan.style.top = event.pageY + 'px';
                tooltipSpan.classList.add('show-tooltip');
            }
        }
        
        function hideTooltip() {
            var tooltipSpan = document.getElementById('tooltip');
            tooltipSpan.classList.remove('show-tooltip');
        }
    </script>
{% endblock %}