{% extends 'base.html' %}
{% block content %}
    <h1>View Picks for {{ user.full_name }}</h1>

    <br>
    <form method="POST" style="display: flex; align-items: center; gap: 10px;">
        {{ form.hidden_tag() }}
        <div>{{ form.user.label }} {{ form.user() }}</div>
        <div>{{ form.submit() }}</div>
    </form>
    <br>

    <div class="bracket-grid">
        {% for game in games %}

        {% set pick_class = 'pick-unmade' %}
        {% if game.id in user_picks %}
            {% if game.winning_team_id or user_picks[game.id].id in lost_teams %}
                {% if user_picks[game.id].id == game.winning_team_id %}
                    {% set pick_class = 'pick-correct' %}
                {% else %}
                    {% set pick_class = 'pick-incorrect' %}
                {% endif %}
            {% else %}
                {% set pick_class = 'pick-undecided' %}
            {% endif %}
        {% endif %}
        <div class="game-view-pick {{ pick_class }}" id="game{{ game.id }}">
            <span id="game{{ game.id }}" class="bracket-grid-span">
                {% if game.id in user_picks %}
                    {{ user_picks[game.id].name }}
                {% else %}
                    No Pick
                {% endif %}
            </span>
        </div>
        {% endfor %}

        {% include '_shared_grid.html' %}
    </div>
{% endblock %}