{% extends 'base.html' %}
{% block title %}Past Winners{% endblock %}
{% block content %}
<div id="winners">
    <h1>🎉 Past Winners 🎉</h1>
    <ul>
        {% for winner in winners %}
            <li><span class="trophy"></span> {{ winner.year }}  ||  {{ winner.place1 }}: {{ winner.winner1 }}, {{ winner.place2 }}: {{ winner.winner2 }}, {{ winner.place3 }}: {{ winner.winner3 }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block morejs %}
<script>if (window.posthog) posthog.capture('winners_viewed');</script>
{% endblock %}
